/* === counter */
#counter {
	padding-top: 10rem;
	padding-bottom: 10rem;

	img {
		width: 100px;
	}

	.num {
		font-size: 4rem;
		font-weight: 800;
	}

	.text {
		font-size: 1.7rem;
		font-weight: 700;
	}
}
